
body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color: lightgrey;
}

#numberDisplay {
    display: flex;
    justify-content: center;
}

#container {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    padding: 100px 50px 100px 50px;
}
