
body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color: lightgrey;
}

p {
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    padding: 100px 50px 100px 50px;
}

#buttonGrid {
    display: flex;
    justify-content: center;
}

#operatorPad {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#numberPad {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#row {
    display: flex; 
    justify-content: center;
}




